
@using ETicaretWeb.Models;
@{
    ViewBag.Title = "ETicaret Sitesi";
    IEnumerable<Kategori> KategoriListesi = ViewBag.KategoriListesi as IEnumerable<Kategori>;

    IEnumerable<Urunler> SonUrunler = ViewBag.SonUrunler as IEnumerable<Urunler>;
}

<div class="jumbotron">
    <h1>ETicaret Sitesi</h1>
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Kategoriler</h2>
        <ul>
            @foreach (var item in KategoriListesi)
            {
                <li>
                    @Html.ActionLink(item.KategoriAdi, "Kategori", new { id=item.KategoriId})
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in SonUrunler)
            {
            <div class="col-md-4" style="border:1px solid #808080">
                <h5>@item.UrunAdi</h5>
                <img src="~/Resim/@(item.UrunId).jpg" style="max-width:100%;" />
                <p>
                    <a class="btn btn-default" href="@Url.Action("Urun","Home",new { id = item.UrunId })">Urun Detay</a>
                    <span style="color:red;float:right;font-size:16px;font-weight:bold"></span>

                </p>
            </div>
            }
        </div>
    </div>
   
</div>